body {
    /*background: #E8EBE6;*/
}

.verseNumber {
    color: #dc3545;
}
div.footnotes :first-child {
    border-top: 1px solid #212529;
    padding-top: 16px;
}
#chapters>tbody {
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    display: flex;
    flex-wrap: wrap;
    padding: 6px 12px;
}
.chapterLinks {
    padding-right: 20px;
   
}
.chapterLinks a.current, a.current:hover {
    color: #212529;
}
.chapterLinks a {
    text-decoration: none;
    color: #0d6efd;
}
.chapterLinks a:hover {
    cursor: pointer;
}
.page {
    min-height: 100vh;
    padding:100px 80px;
    background: #fff;
    margin: 50px;
    border-bottom: 2px dashed #E8EBE6;
}
.text-indent, .ti {
    text-indent: 50px;
}
.dontRead {
    speak: none;
}
.tableOfContents li {
   align-items: end;
   margin-bottom: 7px;
   
}
.tableOfContents .dots {
   border-bottom: 2px dotted;
   width: 100%;
   position:relative;
   bottom: 5px;
}
.pageNumber {
    text-align: center;
}
.tableOfContents a {
    margin-right: 3px;
    width: 99vw;
    overflow: hidden;
    text-decoration: none;
}
.tableOfContents a::after {
    content: "..........................................................................................................................................................................................................................................................................................";
    color: rgb(33, 37, 41);
}
table {width: 100%;}
th {
    font-weight:normal;
    text-align: center;
}
td {
    padding-left: 1em;
}
table, td, th {
    border-collapse: collapse;
    /* border: 1px solid; */
}

.tabernacle {
    border: 1px solid black;
    text-align: center;
    display: inline-block;
    padding: 15px 10px 30px 10px;
}
.tent {
    border: 1px solid black;
}
.tent div:first-child {
    border-bottom: 1px solid black;
}
.tabernacle div:nth-child(2) {margin-top: 15px;}
.tent div {padding: 10px;}

@media only screen and (min-width: 600px) {
    .tableOfContents a {
        white-space: nowrap;
    }
}
.blue {
    background-color: hsl(196, 100%, 70%);
}
.u {text-decoration: underline;}
.du {text-decoration-line: underline;text-decoration-style: double;}
.fullCenter {margin: 0 auto; width: 100%;}
.pl-25 {padding-left: 25px;}
.ml-75 {margin-left: 75px;}
.vh{visibility:hidden;}
.emph {font-size:calc(105%); font-weight:900;}
.highlight {
    background-color: #ffe564;
}
header {
    text-align: left;
}

nav {
    top: 0;
   /* position: fixed;*/
    width: 100%;
    background: #fff;
    padding: 10px 0;
    max-width: 1320px;
}
nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding-left: 0;   
}
.book h1 {
    /* margin-top: 130px; */
}
.book {
    margin-bottom:100px;
}

@media only screen and (max-width: 768px) {
    .page {
        padding: 0;
        margin: 0;
    }
    .container {
        max-width: initial;
    }

    .m-5.mobile-m-5 {
        margin: 0 !important;
        grid-template-columns: 20% 80% !important;
    }
}

@media (prefers-color-scheme: dark) {
    body, nav, .page, #search, div.input-group, tr, tr:nth-child(odd) {
        background-color: #202124;
        color: #bdc1c6;
    }

    #search, div.input-group {
        border-color: #6c757d;
    }

    div.input-group, tbody, #chapters>tbody {
        border-color: #6c757d;
    }

    .highlight {color: #202124;}

    .chapterLinks a.current {
        color: #dc3545;
    }
}

.double {
    text-decoration-line: underline;
    text-decoration-style: double;
}

.dubBB {
    border-bottom-style: double;
    border-bottom-width: thick;
}

.relative {position: relative;}
.em {font-style:italic;}
.absolute {position: absolute;}
.transparent {color: transparent;}
.t10 {top:10px;}
.t20 {top:20px;}
.t30 {top:30px;}
.t40 {top:40px;}
.t50 {top:50px;}
.t60 {top:60px;}
.t70 {top:70px;}
.t80 {top:80px;}
.t90 {top:90px;}
.t100 {top:100px;}
.r10 {right:10px;}
.r20 {right:20px;}
.r30 {right:30px;}
.r40 {right:40px;}
.r50 {right:50px;}
.r60 {right:60px;}
.r70 {right:70px;}
.r80 {right:80px;}
.r90 {right:90px;}
.r100 {right:100px;}
.b10 {bottom:10px;}
.b20 {bottom:20px;}
.b30 {bottom:30px;}
.b40 {bottom:40px;}
.b50 {bottom:50px;}
.b60 {bottom:60px;}
.b70 {bottom:70px;}
.b80 {bottom:80px;}
.b90 {bottom:90px;}
.b100 {bottom:100px;}
.l10 {left:10px;}
.l20 {left:20px;}
.l30 {left:30px;}
.l40 {left:40px;}
.l50 {left:50px;}
.l60 {left:60px;}
.l70 {left:70px;}
.l80 {left:80px;}
.l90 {left:90px;}
.l100 {left:100px;}



.fWidth10 {width: 10%}
.fWidth20 {width: 20%}
.fWidth30 {width: 30%}
.fWidth40 {width: 40%}
.fWidth50 {width: 50%}
.fWidth60 {width: 60%}
.fWidth70 {width: 70%}
.fWidth80 {width: 80%}
.fWidth90 {width: 90%}
.fWidth100 {width: 100%}
.floatLeft {float: left; margin-right: 20px;}
.floatRight {float: right; margin-left: 20px;}

@media only screen and (max-width: 1199px) {
    [class*='fWidth'] {width: 100% !important}
}